@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>SignUp</h1>

<form asp-action="SignUp" method="post">
	<div asp-validation-summary="All"></div>

	<input type="text" asp-for="FirstName" placeholder="FirstName" class="form-control" />
	<span asp-validation-for="FirstName"></span>
	<br />

	<input type="text" asp-for="LastName" placeholder="LastName" class="form-control" />
	<span asp-validation-for="LastName"></span>
	<br />

	<input type="text" asp-for="Email" placeholder="Email" class="form-control" />
	<span asp-validation-for="Email"></span>
	<br />

	<input type="password" asp-for="Password" placeholder="Password" class="form-control" />
	<span asp-validation-for="Password"></span>
	<br />

	<input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" class="form-control" />
	<span asp-validation-for="ConfirmPassword"></span>
	<br />

	<div class="wthree_text">
		<label class="anim">
			<input type="checkbox" required/>
			<span>I Agree To The Terms & Conditions</span>
		</label>
		<div class="clear"> </div>
	</div>
	<input type="submit" value="SignUp" class="btn btn-primary" />
</form>
<p class="text-black">Do you have an Account?<a asp-action="Login">Login Now</a> </p>





@* <form class="login100-form validate-form">
	<span class="login100-form-logo">
		<i class="zmdi zmdi-landscape"></i>
	</span>

	<span class="login100-form-title p-b-34 p-t-27">
		Log in
	</span>
	 
	<div class="wrap-input100 validate-input" data-validate="Enter username">
		<input class="input100" type="text" name="username" placeholder="Username">
		<span class="focus-input100" data-placeholder="&#xf207;"></span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Enter password">
		<input class="input100" type="password" name="pass" placeholder="Password">
		<span class="focus-input100" data-placeholder="&#xf191;"></span>
	</div>

	<div class="contact100-form-checkbox">
		<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
		<label class="label-checkbox100" for="ckb1">
			Remember me
		</label>
	</div>

	<div class="container-login100-form-btn">
		<button class="login100-form-btn">
			Login
		</button>
	</div>

	<div class="text-center p-t-90">
		<a class="txt1" href="#">
			Forgot Password?
		</a>
	</div>
</form> *@
